.App {
  text-align: center;
}

.calc-body{
  max-width: 400px;
  margin: auto;
}

.result {
  height: 60px;
  background-color: antiquewhite;
  width: 100%;
}

.result p {
  font-size: 40px;
}

.buttons {
  display: block;
  background-color: aqua;

}

.buttons button {
width: 25%;
height: 60px;
font-size: 30px;
}

.btn {
  width: 75%;
height: 60px;
font-size: 30px;
}