<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Bean initialization for Address class
    <bean id="address" class="com.example.demo.Question1.Address">
        <property name="street" value="Bank Street"/>
        <property name="city" value="California"/>
        <property name="state" value="CA"/>
        <property name="country" value="United States"/>
        <property name="zip" value="54003"/>
    </bean>

    -->

    <!-- Bean initialization for Question class
    <bean id="question" class="Question2.Question">
        <property name="question" value="What is your name?"/>
        <property name="questionId" value="1"/>
        <property name="answer" >
            <list>
                <value>My name is Mukesh</value>
                <value>My name is Vicky</value>
            </list>
        </property>
    </bean>
    -->

    <!-- Point class references -->

    <bean id="circle" class="Question6.Circle">
    </bean>

    <bean id="center" class="Question6.Point">
        <property name="x" value="0" />
        <property name="y" value="0" />
    </bean>


    <bean id="configDetails" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>dbconfig</value>
            </list>
        </property>
    </bean>

    <context:annotation-config />
</beans>


